@import "../assets/colors.scss";

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .link-item-underline {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $blue-pale;
  }

  .dropDown {
    position: relative;
    margin-right: 4px;
    width: 100%;

    .dropDown__Btn {
      background-color: transparent;
      color: $white;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      padding: 7.5px 16px;

      svg {
        position: relative;
        left: 4px;
      }

      &:hover {
        background-color: $grey-hover;
        border-radius: 5px;
      }
    }

    ul {
      position: absolute;
      top: 47px;
      left: 0;
      background-color: $black-pale;
      padding: 16px 10px 20px 10px;
      width: 180px;
      border-radius: 2px;
      border-top: 4px solid $blue-pale;

      li {
        list-style-type: none;
        margin-bottom: 15px;
        padding: 5px 0;

        &:hover {
          background-color: $grey-hover;
          border-radius: 5px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        a {
          text-decoration: none;
          color: $grey-text;
          padding: 8px 16px;
          font-size: 12px;
          font-weight: 500;
          text-transform: capitalize;
        }
      }
    }
  }
}

.link-item {
  background-color: transparent;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 5px 14px;
  margin-right: 4px;
  outline: none;
  border: none;

  a {
    text-decoration: none;
    font-weight: 600;
    color: $white;
  }

  &:hover {
    background-color: $grey-hover;
    border-radius: 5px;

    a {
      color: $white;
    }
  }
}

.active {
  background-color: $grey-hover;
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 10px;
}

.playBtn {
  background: linear-gradient(315deg, $blue-pale, $blue-dark);
  border-radius: 12px;
  text-transform: uppercase;

  a {
    color: $black-dark;
  }

  &:hover {
    background: $blue-pale;
    border-radius: 12px;

    a {
      color: $black-dark;
    }
  }
}

.icon {
  padding: 5px 8px;
  position: relative;
  right: 2.5px;
  cursor: pointer;
}

#popover {
  z-index: 20001;

  .localeList {
    width: 220px;
    padding: 15px 20px 15px 24px;
    max-height: 200px;
    overflow-y: auto;

    p {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      color: $grey-disable;
      transition: color 0.3s ease-in;
      cursor: pointer;

      &:hover {
        color: $black-dark;
      }

      &.chosenLocale {
        fill: $red-active;
        color: $red-active;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}

.menubar__extend {
  padding: 0;
  cursor: pointer;

  &:hover {
    background-color: transparent;
  }
}

@media screen and (max-width: 1024px) {
  .icon {
    padding: 12px;
    right: 6.4px;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
