$black-dark: #111;

$black-pale: #292929;

$white: #f9f9f9;

$red: red;

$red-active: #c4202b;

$grey-hover: rgba(128, 128, 128, 0.3);

$grey-text: #c7c7c7;

$grey-disable: #999;

$blue-pale: rgb(11, 196, 226);

$blue-dark: rgb(44, 140, 194);
